.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.n{
  margin-top: 400px;
}
.p1,.p2{
  font-size: 3.5rem;
  color: white;
 

}
#sc p {
  /* show the scrollbar */
  height: 10000px;
  /* width: 300px; */
  position: absolute;
}
#sc{
  height: 200px;
}

.p2{
  margin-top: -255px;
}